:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
}

select {
  font-size: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h3 {
  font-size: 1.5rem;
}

.cameraSelect{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;

  
}

.cameraSelect > select {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem
}

#video-container {
  display: flex;
  justify-content: center;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
#resultSpan {
  text-align: center;
  font-size: 2rem;
}
#cartNumberResult {
  padding: 0.5rem 1rem;
}

video {
  width: 80%;
}

.inputCode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordionButton {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background: none;
  padding: none;
  margin: none;
}

#laptopCodeInput {
  display: none;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#laptopCodeInput > input {
  font-size: 1.5rem;
  padding: 0.5rem;
}

#laptopCodeInput > .buttons {
  display: flex;
  gap: 2rem;
}

#laptopCodeInput > .buttons > button {
  font-size: 1.25rem;
}


@media (min-width: 769px) and (max-width: 1024px){
  h3 {
    font-size: 3rem;
  }
  body {
    justify-content: center;
    margin: 0 3rem;
    gap: 4rem;
  }
  video {
    width: 100%;
  }

  .cameraSelect {
    flex-direction: column;
    
  }
  .cameraSelect > select{
    font-size: 3rem;
    padding: 1rem 2rem;
  }
  .buttonContainer{
    flex-direction: column;
    width: 100%;
  }
  
  .resultContainer {
    font-size: 4rem;
  }

  button {
    padding: 0.6em 2em;
    font-size: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  .accordionButton {
    font-size: 2.5rem;
  }
  #laptopCodeInput {
    display: none;
  }
  #laptopCodeInput > input {
    font-size: 4rem;
    padding: 0.5rem;
  }
  .inputCode > #laptopCodeInput > label {
    font-size: 3rem;
  }
  #laptopCodeInput > .buttons > button {
    font-size: 3rem;
  }
}